.product-list {
    background-color: white;
    height: 100%;
    --restHeight: calc((var(--list-gap) * 2) + 10px);
}

.product-list-container {
    display: block;
    height: calc(100vh - var(--restHeight));
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
}

.product-list-content {
    background-color: #F5F5F5;
    display: grid;
    grid-gap: var(--list-gap);
    grid-row-gap: calc(var(--list-gap) - 5px);
    grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
    grid-auto-flow: dense;
    padding: var(--list-gap);
    padding-top: calc(var(--list-gap) - 10px);
}

.product-list-header {
    padding: calc(var(--list-gap) - 10px) var(--list-gap);
    box-shadow: 0 0 2px  rgba(0, 0, 0, 0.1);
    z-index: 1;

}

.product-list-name {
    font-weight: 300;
    text-align: center;
    font-size: 1.75em;
    opacity: 0.75;
    letter-spacing: 0.03em;
}
