.cart-item * {
    box-sizing: border-box;
}

.cart-item {
    display: flex;
    width: 100%;
}

.card-item-product {
    display: flex;
    justify-content: space-between;
}

.cart-item-title {
    padding: 0 22px;
    font-size: 20px;
}

.card-item-thumb {
    width: 120px;
    height: 120px;
    display: block;
}
