.product-list {
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 190px;
}

.product-list {
    background-color: #F5F5F5;
    display: grid;
    grid-gap: 40px;
    grid-row-gap: 35px;
    grid-template-columns: repeat( auto-fill, minmax(176px, 1fr) );
    grid-auto-flow: dense;
    width: 920px;
    padding:40px;
}