.App {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    grid-auto-flow: dense;
}

@media (max-width:980px) {
    .App {
        display: block;
        width: 90vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;
    }

}
