@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
    --wrapperBg: radial-gradient(farthest-corner at 10px 10px, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.15) 100%);
    --boxshadow: 0 1px 1px rgba(16, 27, 30, 0.03), 0 2px 2px rgba(16, 27, 30, 0.03), 0 4px 4px rgba(16, 27, 30, 0.03), 0 8px 8px rgba(16, 27, 30, 0.03), 0 16px 16px rgba(16, 27, 30, 0.03);
    --font-size: 14px;
    --line-height: 1.2;
    --scrollbar-base: hsl(0, 0%, 93%);
    --scrollbar-front: hsl(0, 0%, 100%);    /*--mobile-view: 840px;*/
    --mobile-view: 1400px;
    --list-gap: 40px;
}

/*#F0AA58*/
* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    box-sizing: border-box;

}

html {
    scrollbar-color: var(--scrollbar-front) var(--scrollbar-base);    
}

html,
body {
    overflow: hidden;
    height: 100%;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-base);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 0 1px var(--scrollbar-base);
    background: var(--scrollbar-front);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-align: left;
    background-color: #b0b7ba;
    background-image: linear-gradient(-42deg, #E9A151, #F0AA58);
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    position: relative;

}
main {
    height: 100%;

}


@media (max-width:1040px) {
    :root {
        --list-gap: 26px;
    }

}
